<head>
    <style>

        h1 {
        font-weight: bold;
        font-size: x-large;
        }

        h2{
        font-size: larger;
        font-weight: bold;
        }

        .red {
        color: rgb(255, 0, 0);
        }

        .blue {
        color: blue;
        }

        .green {
        color: green;
        }

        .large {
            font-size: large;
        }

        .tiny {
            font-size: xx-small;
        }

        .centred {
            text-align: center;
        }

        .bold {
            font-weight: bold;
        }

        .fontFamily {
            font-family: 'Times New Roman', Times, serif;
        }

        .combo {
            color: orange;
            font-weight: bold;
            font-size: larger;
        }

        .styledFont {
            color: green;
        }

        #styledImage {
            border-color: orange;
            border-width: 10px;
            border-style: solid;
        }
    </style>
</head>